@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1f1f1f;
}

* {
  font-synthesis: none !important;
  -webkit-font-smoothing: antialiased !important;
  /* font-weight: 700 !important; */
  /* letter-spacing: 0.036em; */
  text-rendering: optimizeLegibility !important;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.swiper-slide {
  width: auto !important;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: linear !important;
}

mux-player {
  --controls: none;
  pointer-events: none !important;
}
